.banner-section {
    margin: 190px 0px 0px 0px;
}

.slider-container {
    position: relative;
}

.banner-slide {
    background: #015fc9;
    padding: 20px 30px;
}

.banner-text h6 {
    font-family: var(--base-font-family);
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
    color: var(--primary-text-color);

}

.banner-text h1 {
    font-family: var(--base-font-family);
    font-size: 45px;
    font-weight: 500;
    line-height: 60px;
    color: var(--primary-text-color);
    margin-bottom: 10px;
}

.banner-text p {
    font-family: var(--base-font-family);
    font-size: 28px;
    font-weight: 600;
    line-height: 28px;
    color: var(--primary-text-color);
    margin-bottom: 15px;
}


.banner-image {
    height: 350px;
}

.slick-list {
    border-radius: 20px;
}

.image-section img {
    width: 250px;
}

.custom-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    font-size: 28px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 12px;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
}

.custom-prev {
    left: 10px;
}

.custom-next {
    right: 10px;
}

.slick-dots {
    bottom: 55px !important;
    width: auto !important;
    left: 10px !important;
}
.slick-dots li button:before{
    color: var(--primary-text-color) !important;
}
/* .slick-dots li.slick-active button:before{
    width: 25px !important;
    height: 8px !important;
    color: var(--primary-text-color);
} */