.custom-box .categories-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.custom-box .categories-main {
    display: flex;
    align-items: center;
    gap: 70px;
}

.custom-box .categories-content {
    display: flex;
    align-items: center;
    gap: 10px;
}