.features-container {
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 12px;
    margin-top: 30px;
}

.features-content {
    display: flex;
    align-items: center;
}


.features-content img {
    width: 30px;
    height: 30px;
    object-fit: fill;
}

.features-content-text {
    margin-left: 30px
}

.features-content-text h5 {
    font-family: var(--base-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: var(--custom-text-color);
}

.features-content-text p {
    font-family: var(--base-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: var(--secondcustom-text-color);
}