:root {
  --base-font-family: "Lato", sans-serif !important;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --Primary-color: #A09213;
  --secondory-color: #877B0E;
  --gradient-color: linear-gradient(90deg, #A09213, #877B0E);
  --primary-text-color: #FFFFFF;
  --secondory-text-color: #000000;
  --common-text-color: #D9D9D9;
  --common-text-color-secondary: #666666;
}



body {
  margin: 0;

}